<div class="extra-pagination">
	{{pagination}}
</div>

{{#foreach posts}}

<article class="{{post_class}}">
	<div class="inner">
		<h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
		<span class="post-meta">
			<time datetime="{{date format='DD-MM-YYYY'}}">{{date format="DD MMM YYYY"}}</time>
		</span>
		<section class="post-content">{{content}}</section>
	</div>
</article>

{{/foreach}}

{{pagination}}
